# Generic .gitignore
# Created By: Brendan Op 't Root

# Execution Extensions
*.a
*.app
*.class
*.d
*.dll
*.elf
*.exe
*.jar
*.lib
*.lock
*.log
*.map
*.o
*.obj
*.out
*.py[cod]
*.so

# Archives
*.tgz
*.tar.gz
*.zip

# Media Files
*.jpg
*.gif
*.png

# Directories
build/
dist/
lib/
logs/
node_modules/

# Editor Related Files
.tags
.eslintcache

# Local Storage
.grunt
.npm

# Project Based
data/*
*.txt
